<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>人工智能对话</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/elementUI.css"/>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/axios.min.js" type="text/javascript"></script>
    <script src="js/elementUI.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"
            type="text/javascript"></script>
    <style type="text/css">

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

        html,
        body {
            height: 100%;
        }

        #app {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        el-container {
            flex: 1;
        }

        .parent-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .el-main {
            flex-grow: 1;
            overflow-y: auto; /* 让信息区域出现滚动条 */
        }

        .message-input {
            flex-shrink: 0;
        }


    </style>
</head>
<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="300px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1']" @click.stop>
                <el-submenu index="2">
                    <template slot="title">
                        我的对话
                    </template>
                    <el-menu-item-group>
                        <el-menu-item :index="'2-0'" @click="newTopic()">新建话题</el-menu-item>
                        <div v-for="(item,index) in topic">
                            <el-menu-item :index="'2' + index.toString()" :key="item.id" @click="getChatHistory(index)">
                                <i class="el-icon-chat-square" style="display: inline-block"></i>
                                {{item.topic}}
                                <i class="el-icon-edit" style="display: inline-block" @click="renameTopic(index)"></i>
                                <i class="el-icon-delete" style="display: inline-block" @click="deleteTopic(index)"></i>
                            </el-menu-item>
                        </div>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown @command="handleCommand">
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="showKey">查看Key</el-dropdown-item>
                        <el-dropdown-item command="changeUserInfo">修改信息</el-dropdown-item>
                        <el-dropdown-item command="logout">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>{{userInfo.nickname}}</span>
            </el-header>

            <el-main style="display: flex; flex-direction: column; height: 100%;">
                <div style="flex-grow: 1; flex-shrink: 0; overflow-y: auto;">
                    <msg-component v-if="dialogue.length == 0" :message="'你好！有什么我可以帮助你的吗？'" :index="1"
                                   :avatar="getAvatar('assistant')">
                    </msg-component>
                    <msg-component v-for="(item, index) in dialogue" :message="item.content"
                                   :avatar="getAvatar(item.role)" :index="index" :dialogue="dialogue"
                                   @update:message="item.content = $event"
                    >
                    </msg-component>

                    <!-- 问题发送框：一个文本输入框，一个发送按钮 -->
                    <div class="message-input">
                        <el-row>
                            <el-col :span="20">
                                <el-input v-model="input_message" type="textarea" :autosize="{ minRows: 2, maxRows: 30}"
                                          placeholder="" autofocus></el-input>
                            </el-col>
                            <el-col :span="2">
                                <center>
                                    <el-button type="primary" @click="postChat()" :disabled="post_button_disabled">
                                        发送 <i class="el-icon-loading" v-if="post_button_disabled"></i>
                                    </el-button>
                                </center>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-main>
        </el-container>

        <!-- 用户信息修改弹窗-->
        <el-dialog title="编辑用户信息" :visible.sync="dialogFormVisible2">
            <el-form :model="form3" autocomplete="off">
                <el-form-item label="用户名" :label-width="formLabelWidth2">
                    <el-input v-model="userInfo.username" autocomplete="off" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="昵称" :label-width="formLabelWidth2">
                    <el-input placeholder="如需修改昵称，请在此输入新昵称" v-model="form3.nickname" autocomplete="off">
                        <el-button slot="append" icon="el-icon-finished" @click="changeNickname">提交</el-button>
                    </el-input>
                </el-form-item>
                <el-form-item label="邮箱" :label-width="formLabelWidth2">
                    <el-input placeholder="如需修改邮箱，请在此输入新邮箱" v-model="form3.mail" autocomplete="off">
                        <el-button slot="append" icon="el-icon-finished" @click="changeMail">提交</el-button>
                    </el-input>
                </el-form-item>
                <el-form-item label="密码" :label-width="formLabelWidth2">
                    <el-button @click="window.open('./reset_password.html')" icon="el-icon-lock">修改密码</el-button>
                </el-form-item>
                <el-form-item label="绑定key" :label-width="formLabelWidth2">
                    <el-input placeholder="如需绑定新key，请在此输入key" v-model="form3.key"
                              autocomplete="off">
                        <el-button slot="append" icon="el-icon-finished" @click="changeBind">提交</el-button>
                    </el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible2 = false">取 消</el-button>
                <el-button type="primary" @click="changeUserInfo()">确 定</el-button>
            </div>
        </el-dialog>
    </el-container>
</div>
</body>
<script>

    Vue.component('msg-component', {
        props: {
            message: String,
            avatar: String,
            dialogue: Array,
            index: {
                type: Number,
                required: false
            }
        },
        template: `
          <div>
          <el-row>
            <el-col :span="2">
              <el-avatar size="large" :src="avatar"></el-avatar>
            </el-col>
            <el-col :span="20">
              <el-input v-model="localMessage" type="textarea" :autosize="{ minRows: 2, maxRows: 100}"
                        placeholder=""></el-input>
            </el-col>
            <el-col :span="2">
              &nbsp;&nbsp;<i class="el-icon-delete" v-if="index%2==0" @click="deleteMsg(index)"></i>
            </el-col>
          </el-row>
          <br><br>
          </div>
        `,
        data() {
            return {
                localMessage: this.message
            }
        },
        methods: {
            deleteMsg(index) {
                // 在这里编写删除消息的逻辑
                this.dialogue.splice(index, 2);
            }
        },
        watch: {
            message(newValue) {
                this.localMessage = newValue
            },
            localMessage(newValue) {
                this.$emit('update:message', newValue)
            },
        }
    });

    new Vue({
        //作用域
        el: '#app',
        //初始化数据
        data: {
            window: window,
            userInfo: {
                username: null,
                nickname: '未登录',
                key: null,
                token: null
            },
            title: 'HelloWorld',
            input_message: '',
            topic: [],
            select_topic_id: null,
            dialogue: [],
            message: '1111',
            post_button_disabled: false,
            avatar: {
                'user': 'http://192.144.232.94:8080/netdisk/download/122820984662130688?isDownload=false',
                'assistant': 'http://192.144.232.94:8080/netdisk/download/119412158613159936?isDownload=false'
            },
            // 修改用户信息
            dialogFormVisible2: false,
            formLabelWidth2: '120px',
            form3: {
                nickname: '',
                key: '',
                mail: ''
            },
        },
        //函数写在这里
        methods: {
            initUserInfo() {
                // 从localStorage中读取userInfo
                let userInfo = JSON.parse(localStorage.getItem('userInfo'));
                // 如果为空，跳转到登录页面
                if (userInfo == null) {
                    window.location.href = "login.html";
                }
                // 如果不为空，将用户信息加载到data中
                else {
                    this.userInfo = userInfo;
                }
            },
            getAvatar(role) {
                return this.avatar[role]
            },
            async getAllTopic() {
                return new Promise((resolve, reject) => {
                    axios.get('./chat/topic').then(response => {
                        this.topic = response.data.data;
                        console.log("topic: " + this.topic);
                        resolve()
                    }).catch(error => {
                        reject(error)
                    })
                })
            },
            getChatHistory(index) {
                console.log("index: " + index);
                this.select_topic_id = this.topic[index].id;
                axios.get('./chat/history', {
                    params: {
                        topicId: this.topic[index].id
                    }
                }).then(response => {
                    console.log("response: ", response);
                    let code = response.data.code
                    if (code === 200) {
                        this.dialogue = response.data.data;
                    } else {

                    }
                })
            },
            postChat() {
                // 将当前用户的输入追加到dialogue数组中
                this.dialogue.push({
                    "role": "user",
                    "content": this.input_message
                });
                // 清空输入框
                this.input_message = '';
                // 遍历dialogue数组，将content为空的元素删除
                for (let i = 0; i < this.dialogue.length; i++) {
                    if (this.dialogue[i].content === '') {
                        this.dialogue.splice(i, 1);
                        i--;
                    }
                }
                // 将对话发送按钮禁用
                this.post_button_disabled = true;
                axios.post('./chat', {
                    chatHistoryList: this.dialogue,
                    topicId: this.select_topic_id
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.data.code === 200) {
                        this.dialogue = response.data.data;
                    } else {
                        // 调用element ui的确认警告框
                        this.$confirm(response.data.msg, '提示', {
                            confirmButtonText: '确定',
                            type: 'warning'
                        }).then(() => {

                        })
                    }

                }).catch(error => {
                    console.log(error);
                }).finally(() => {
                    // 将对话发送按钮启用
                    this.post_button_disabled = false;
                })

            },
            newTopic() {
                axios.get('./chat/topic/new', {
                    params: {
                        topicName: '新话题'
                    }
                }).then(response => {
                    console.log("newTopic: " + response.data.data);
                    // 新建的话题放到数组首位
                    this.topic.unshift(response.data.data);
                    this.select_topic_id = this.topic[0].id;
                    this.dialogue = [];
                })
            },
            selectFirstTopic() {
                this.select_topic_id = this.topic[0].id;
                this.getChatHistory(0);
            },
            renameTopic(index) {
                axios.get('./chat/topic/rename', {
                    params: {
                        topicId: this.topic[index].id,
                        topicName: this.topic[index].topic
                    }
                }).then(response => {
                    console.log("renameTopic: " + response.data.data);
                })
            },
            deleteTopic(index) {
                // element ui的confirm弹窗
                this.$confirm('此操作将永久删除该话题, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get('./chat/topic/delete', {
                        params: {
                            topicId: this.topic[index].id
                        }
                    }).then(response => {
                        let code = response.data.code
                        if (code == 200) {
                            let removedTopicId = this.topic[index].id;
                            this.topic.splice(index, 1);
                            // 如果删除的是当前选中的话题，需要将当前选中的话题改为第0个
                            if (this.select_topic_id == removedTopicId) {
                                this.selectFirstTopic();
                            }
                        } else {
                            this.$message({
                                type: 'error',
                                message: response.data.msg
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            // 下拉选项单
            handleCommand(command) {
                if (command == 'logout') {
                    this.logout();
                } else if (command == 'showKey') {
                    this.showKey();
                } else if (command == 'changeUserInfo') {
                    console.log("changeUserInfo");
                    this.dialogFormVisible2 = true;
                }
            },
            logout() {
                // 清空localStorage中的userInfo
                localStorage.removeItem('userInfo');
                // 跳转到登录页面
                window.location.href = "login.html";
            },
            showKey() {
                // 查出key剩余使用次数
                axios.get('./key/times').then(response => {
                    let keyTimes = response.data.data
                    let info = '您的密钥是：' + this.userInfo.key + '，剩余使用次数：' + keyTimes;
                    this.$alert(info, '提示', {
                        confirmButtonText: '确定',
                        type: 'warning'
                    });
                })
            },
            // 校验修改用户信息的表单
            checkUserInfoForm() {
                // 校验昵称
                if (!this.checkNickname(this.form3.nickname)) {
                    this.$message.error('昵称格式不正确')
                    return false
                }
                //  校验原密码格式是否正确，如果为空字符串则说明不需要修改密码，不需要校验
                if (this.form3.old_password != '' && !this.checkPassword(this.form3.old_password)) {
                    this.$message.error('原密码格式不正确')
                    return false
                }
                // 校验两次输入密码是否一致
                if (this.form3.password != this.form3.password2) {
                    this.$message.error('两次输入密码不一致')
                    return false
                }
            },
            // 对话题改名称
            renameTopic(index) {
                // 弹出一个输入框，输入新的话题名称
                this.$prompt('请输入新的话题名称', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^.{1,15}$/,
                    inputErrorMessage: '话题名称长度在1到15个字符之间',
                    inputValue: this.topic[index].topic
                }).then(({value}) => {
                    // 发送请求，修改话题名称
                    axios.get('./chat/topic/rename', {
                        params: {
                            topicId: this.topic[index].id,
                            topicName: value
                        }
                    }).then(response => {
                        console.log("renameTopic: " + response.data.data);
                        // 修改话题名称
                        this.topic[index].topic = value;
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消修改'
                    });
                });
            },
            // 修改用户信息（已弃用）
            changeUserInfo() {

            },
            // 修改用户昵称
            changeNickname() {
                if (!this.checkNickname(this.form3.nickname)) {
                    this.$message.error('昵称格式不正确')
                    return
                }
                var params = new URLSearchParams()
                params.append("nickname", this.form3.nickname)
                axios.post("./user/nickname", params).then(res => {
                    if (res.data.code == 200) {
                        this.$message({
                            type: 'success',
                            message: '修改成功'
                        });
                        this.dialogFormVisible2 = false;
                        // 修改localStorage中的userInfo
                        this.userInfo.nickname = this.form3.nickname;
                        localStorage.setItem('userInfo', JSON.stringify(this.userInfo));
                    } else {
                        this.$message({
                            type: 'error',
                            message: res.data.msg
                        });
                    }
                })
            },
            // 换绑key
            changeBind() {
                var params = new URLSearchParams()
                params.append("key", this.form3.key)
                axios.post("./key/changeBind", params).then(res => {
                    if (res.data.code == 200) {
                        this.$message({
                            type: 'success',
                            message: '修改成功'
                        });
                        this.dialogFormVisible2 = false;
                        // 修改localStorage中的userInfo
                        this.userInfo.key = this.form3.key;
                        localStorage.setItem('userInfo', JSON.stringify(this.userInfo));
                    } else {
                        this.$message({
                            type: 'error',
                            message: res.data.msg
                        });
                    }
                })
            },
            // 设置邮箱
            changeMail() {
                var params = new URLSearchParams()
                params.append("mail", this.form3.mail)
                axios.post("./user/mail", params).then(res => {
                    if (res.data.code == 200) {
                        this.$message({
                            type: 'success',
                            message: '修改成功'
                        });
                        this.dialogFormVisible2 = false;
                        // 修改localStorage中的userInfo
                        this.userInfo.mail = this.form3.mail;
                        localStorage.setItem('userInfo', JSON.stringify(this.userInfo));
                    } else {
                        this.$message({
                            type: 'error',
                            message: res.data.msg
                        });
                    }
                })
            },
            // 导入的通用方法
            hashPassword(password) {
                const saltedPassword = password + "salt";
                return CryptoJS.MD5(saltedPassword).toString();
            },
            checkUsername(s) {
                var pattern = /^\w{4,18}$/;
                return pattern.test(s);
            },
            checkPassword(s) {
                var pattern = /^[A-Za-z0-9]{4,18}$/;
                return pattern.test(s);
            },
            checkNickname(s) {
                var pattern = /^[\u4E00-\u9FA5A-Za-z0-9]{1,15}$/;
                return pattern.test(s);
            },
            checkKey(s) {
                // 不带中划线的uuid
                var pattern = /^[0-9a-f]{32}$/i;
                return pattern.test(s);
            }
        },
        created() {
            // TODO 从localStorage中获取token和userId
            this.initUserInfo()
            var userInfo = this.userInfo;
            var token = userInfo.token;
            var userId = userInfo.id;
            axios.interceptors.request.use((config) => {
                config.headers.Authorization = token + '#' + userId;
                return config;
            });
            // axios.defaults.headers['Content-Type'] = 'application/json';
            // axios.defaults.headers['userId'] = userId;
            axios.defaults.headers['token'] = token;
            // axios.defaults.baseURL = 'http://gpt.dluserver.cn:8058';
            axios.defaults.baseURL = 'http://127.0.0.1:8081';
            // 初始化form3
            this.form3.nickname = this.userInfo.nickname;
            this.form3.key = this.userInfo.key;
            this.form3.mail = this.userInfo.mail;
        },
        async mounted() {
            this.getAllTopic().then(res => {
                console.log("mounted_topic: " + this.topic);
                // 默认选中第一个话题
                if (this.topic.length > 0) {
                    this.getChatHistory(0);
                }
                // 创建一个新话题
                else {
                    this.newTopic();
                }
            })

        }
    })
</script>
</html>
